.chrome {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.chrome .toolbar {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  padding: var(--statusbar-height, var(--chrome-toolbar-gap)) 0 var(--chrome-toolbar-gap);
  box-sizing: border-box;
  background-color: var(--theme-color, var(--background));
  transform: translateX(-100%);
  visibility: hidden;
  gap: var(--chrome-toolbar-gap);
  overflow: hidden;
  z-index: 10;
  transition: all 0.5s cubic-bezier(0.2, 0.9, 0.1, 1);
}

.chrome.visible .toolbar {
  transform: translateY(0);
  visibility: visible;
}

.chrome .tablist-holder {
  width: 100%;
  height: 4rem;
  background-color: var(--theme-color, var(--background));
  flex-shrink: 0;
  display: flex;
  padding: 0 0.5rem;
  box-sizing: border-box;
  gap: var(--chrome-toolbar-gap);
}

.chrome.hidden .tablist-holder {
  display: none;
}

.chrome .tablist {
  height: 4rem;
  display: flex;
  gap: var(--chrome-toolbar-gap);
  margin: 0;
  padding: 0;
}

.chrome .tablist li {
  width: 24rem;
  height: 4rem;
  display: flex;
  gap: var(--chrome-toolbar-gap);
  list-style: none;
  border-radius: 2rem;
  margin: 0;
  padding: 0 1rem;
  padding-inline-end: 0.5rem;
  box-sizing: border-box;
  align-items: center;
}

.chrome .tablist li.active {
  background-color: var(--item-hover);
}

.chrome .tablist li > .favicon {
  width: 2rem;
  height: 2rem;
  flex-shrink: 0;
}

.chrome .tablist li > .title {
  width: 100%;
  flex-grow: 1;
  height: 2rem;
  line-height: 2rem;
  font-size: 1.4rem;
  color: var(--text-color);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.chrome .tablist li > .close-button {
  width: 3.2rem;
  height: 3.2rem;
  line-height: 3.2rem;
  border: none;
  background-color: transparent;
  margin: 0;
  padding: 0;
  text-align: center;
  color: var(--text-color);
  border-radius: 50%;
  flex-shrink: 0;
}

.chrome .tablist li > .close-button:hover {
  background-color: var(--item-hover);
}

.chrome .tablist li > .close-button:active {
  background-color: var(--item-active);
}

.chrome .tablist li > .close-button[data-icon]::before {
  font-size: 1.6rem;
}

.chrome .navbar {
  width: 100%;
  height: 4rem;
  background-color: var(--theme-color, var(--background));
  flex-shrink: 0;
  display: flex;
  padding: 0 0.5rem;
  box-sizing: border-box;
  gap: var(--chrome-toolbar-gap);
}

.chrome .tablist-holder > button,
.chrome .navbar button {
  min-width: 4rem;
  height: 4rem;
  line-height: 4rem;
  margin: 0;
  padding: 0 1rem;
  box-sizing: border-box;
  border: none;
  border-radius: 50%;
  flex-shrink: 0;
  background-color: transparent;
  color: var(--text-color);
  font-size: 1.6rem;
  text-align: center;
}

.chrome .tablist-holder > button[data-icon]::before,
.chrome .navbar button[data-icon]::before {
  font-size: 2rem;
}

.chrome .tablist-holder > button:hover,
.chrome .navbar button:hover {
  background-color: var(--item-hover);
}

.chrome .tablist-holder > button:active,
.chrome .navbar button:active {
  background-color: var(--item-active);
}

/* .chrome .tablist-holder > button {
  background-color: var(--item-hover);
}

.chrome .tablist-holder > button:hover {
  background-color: var(--item-hover-plus);
}

.chrome .tablist-holder > button:active {
  background-color: var(--item-active-plus);
} */

.chrome .navbar .urlbar {
  width: 100%;
  height: 4rem;
  display: flex;
  border-radius: 2rem;
  margin: 0;
  padding: 0;
  background-color: var(--item-hover);
  flex-grow: 1;
  overflow: hidden;
}

.chrome .navbar .urlbar > .urlbar-input {
  width: 100%;
  height: 4rem;
  line-height: 4rem;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  color: var(--text-color);
  font-size: 1.6rem;
  flex-grow: 1;
  outline: none;
  display: none;
}

.chrome .navbar .urlbar > .urlbar-display-url {
  width: 100%;
  height: 4rem;
  line-height: 4rem;
  color: var(--text-color);
  font-size: 1.6rem;
  flex-grow: 1;
  display: flex;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.chrome .navbar .urlbar:hover > .urlbar-input,
.chrome .navbar .urlbar:focus-within > .urlbar-input {
  display: block;
}

.chrome .navbar .urlbar:hover > .urlbar-display-url,
.chrome .navbar .urlbar:focus-within > .urlbar-display-url {
  display: none;
}

.chrome .navbar .urlbar > .urlbar-display-url .ignored {
  opacity: 0.5;
}

.chrome .browser-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  flex-grow: 1;
}

.chrome .browser-container > .browser {
  position: absolute;
  width: 100%;
  height: 100%;
  visibility: hidden;
}

.chrome .browser-container > .browser.active {
  visibility: visible;
}

#screen.context-menu-visible .chrome .browser-container > .browser {
  pointer-events: none;
}
