@font-face {
  font-family: 'Jali Arabic';
  src: url(http://shared.localhost:8081/fonts/JaliArabic-ExtraLight.ttf);
  font-weight: 200;
}

@font-face {
  font-family: 'Jali Arabic';
  src: url(http://shared.localhost:8081/fonts/JaliArabic-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: 'Jali Arabic';
  src: url(http://shared.localhost:8081/fonts/JaliArabic-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: 'Jali Arabic';
  src: url(http://shared.localhost:8081/fonts/JaliArabic-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: 'Jali Arabic';
  src: url(http://shared.localhost:8081/fonts/JaliArabic-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: 'Jali Arabic';
  src: url(http://shared.localhost:8081/fonts/JaliArabic-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: 'Jali Arabic';
  src: url(http://shared.localhost:8081/fonts/JaliArabic-ExtraBold.ttf);
  font-weight: 800;
}

@font-face {
  font-family: 'Jali Arabic';
  src: url(http://shared.localhost:8081/fonts/JaliArabic-Black.ttf);
  font-weight: 900;
}

*, ::placeholder {
  font-family: 'Jali Arabic';
}
