*, ::placeholder {
  font-family: system-ui;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #858585;
  background-clip: content-box;
  border: 2px solid transparent;
  border-radius: 8px;
  width: 8px;
  height: 8px;
}
