.app {
  background-color: transparent;
  overflow: hidden;
}

#drop-indicator {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(1, 0, 0, 1);
  backdrop-filter: blur(20px) saturate(180%);
  border-radius: 1rem;
}

#drop-indicator.visible {
  opacity: 1;
  visibility: visible;
}